.home h1 {
	color: white;
	font-family: 'Graduate', cursive;
	margin-left: 100px;
	font-size: 56px;
}

.home input,
.home select {
	background: #d4d3d3;
	border: 0px;
	border-radius: 1px;
	padding: 10px 25px;
}

.home {
	padding-top: 20%;
	background-image: url('./images/bg.png');
	background-size: cover;
	background-position: bottom;
	min-height: 100vh;
}

.home .box {
	margin: 0 auto;
	width: 938px;
	height: 136px;
	border-radius: 1px;
	background-color: white;
	padding: 15px 10px;
}

.home .button {
	background: #dc2014;
	margin-left: 70px;
	padding: 10px 35px;
	color: white !important;
	text-decoration: none !important;
}
